<!-- Sección de vinos destacados -->
<section id="vinos">
  <div class="section-header">
    <h2 class="section-title">Nuestra Selección de Vinos</h2>
    <p class="section-subtitle">
      Descubre nuestros vinos más exclusivos, para los paladares más exigentes
    </p>
  </div>

  <div class="wine-grid">

    <!-- Vino 3 -->
    <div class="wine-card">
      <div class="wine-img-container">
        <img
          src="/img/vinos/vineDonAlejandro.png"
          alt="Vino Rosado"
          class="wine-img"
        />
      </div>
      <div class="wine-info">
        <span class="wine-category">Vino tinto semiseco</span>
        <h3 class="wine-name">Vino Tinto Don Alejandro</h3>
        <span class="wine-region">Siguatepeque, Honduras</span>
        <p class="wine-description">
          Vino tinto semiseco, tonalidad rubí intensa, equilibrio perfecto entre
          dulzura y acidez.
        </p>
        <!-- <div class="wine-footer">
              <span class="wine-price">€189.00</span>
              <span class="wine-rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </span>
            </div> -->
        <i class="bottom-viewVine"><a
            href="/vinoTintoDonAlejandro"
            class="vine-cta"
          >Ver Detalles</a></i>
      </div>
    </div>

    <!-- Vino 1 -->
    <div class="wine-card">
      <div class="wine-img-container">
        <img
          src="/img/vinos/vineSecoNaranja.png"
          alt="Vino Tinto Reserva"
          class="wine-img"
        />
      </div>
      <div class="wine-info">
        {{! <span class="wine-category">Vino Dulce</span> }}
        <h3 class="wine-name">Vino Dulce de Naranja</h3>
        <span class="wine-region">Siguatepeque, Honduras</span>
        <p class="wine-description">
          Vino dulce, cítrico y refrescante con notas de aceite de la cáscara de
          naranja.
        </p>
        <!-- <div class="wine-footer">
              <span class="wine-price">€899.00</span>
              <span class="wine-rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </span>
            </div> -->
        <i class="bottom-viewVine"><a
            href="/vinoSecoNaranja"
            class="vine-cta"
          >Ver Detalles</a></i>
      </div>

    </div>

    <!-- Vino 4 -->
    <div class="wine-card">
      <div class="wine-img-container">
        <img
          src="/img/vinos/vinoTintoJaboticaba.png"
          alt="Vino Rosado"
          class="wine-img"
        />
      </div>
      <div class="wine-info">
        {{! <span class="wine-category">Vino tinto dulce</span> }}
        <h3 class="wine-name">Vino Tinto Dulce de Jaboticaba</h3>
        <span class="wine-region">Siguatepeque, Honduras</span>
        <p class="wine-description">
          Vino tinto de color intenso, con sabor afrutado, suave al paladar.

        </p>
        <!-- <div class="wine-footer">
              <span class="wine-price">€189.00</span>
              <span class="wine-rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </span>
            </div> -->
        <i class="bottom-viewVine"><a
            href="/vinoTintoJaboticaba"
            class="vine-cta"
          >Ver Detalles</a></i>
      </div>
    </div>

    <!-- Vino 2 -->
    <div class="wine-card">
      <div class="wine-img-container">
        <img
          src="/img/vinos/vineBlancoNaranja.png"
          alt="Vino Blanco"
          class="wine-img"
        />
      </div>
      <div class="wine-info">
        {{! <span class="wine-category">Vino Blanco Dulce</span> }}
        <h3 class="wine-name">Vino Blanco de Jaboticaba</h3>
        <span class="wine-region">Siguatepeque, Honduras</span>
        <p class="wine-description">
          Vino ligero con aroma floral, equilibrado y vigoroso, suave al
          paladar.
        </p>
        <!-- <div class="wine-footer">
              <span class="wine-price">€1,250.00</span>
              <span class="wine-rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
              </span>
            </div> -->
        <i class="bottom-viewVine"><a
            href="/vinoBlancoNaranja"
            class="vine-cta"
          >Ver Detalles</a></i>
      </div>
    </div>

  </div>
</section>

<!-- Sección de Licores -->
<section id="licores">
  <div class="section-header">
    <h2 class="section-title">Nuestra Selección de Licores Mangulina</h2>
    <p class="section-subtitle">
      Descubre nuestros licores más exclusivos, seleccionados meticulosamente
      para los paladares más exigentes
    </p>
  </div>

  <div class="wine-grid">
    <!-- Licor 1 -->
    <div class="wine-card">
      <div class="wine-img-container">
        <img
          src="/img/licores/licorDeCarambola.png"
          alt="Vino Tinto Reserva"
          class="wine-img"
        />
      </div>
      <div class="wine-info">
        <!-- <span class="wine-category">Tinto Reserva</span> -->
        <h3 class="wine-name">Licor de Carambola</h3>
        <span class="wine-region">Siguatepeque, Honduras</span>
        <p class="wine-description">
          Un licor fresco y exótico, con notas cítricas y un equilibro suave.
        </p>
        <!-- <div class="wine-footer">
              <span class="wine-price">€899.00</span>
              <span class="wine-rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </span>
            </div> -->
        <i class="bottom-viewVine"><a
            href="/licorCarambola"
            class="vine-cta"
          >Ver Detalles</a></i>
      </div>

    </div>

    <!-- Licor 2 -->
    <div class="wine-card">
      <div class="wine-img-container">
        <img
          src="/img/licores/licorDeDurazno.png"
          alt="Vino Blanco"
          class="wine-img"
        />
      </div>
      <div class="wine-info">
        <!-- <span class="wine-category">Blanco Fermentado en Barrica</span> -->
        <h3 class="wine-name">Licor de Durazno</h3>
        <span class="wine-region">Siguatepeque, Honduras</span>
        <p class="wine-description">
          Dulce y aterciopelado, este licor combina el sabor jugoso del durazno
          con un toque cálido.
        </p>
        <!-- <div class="wine-footer">
              <span class="wine-price">€1,250.00</span>
              <span class="wine-rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
              </span>
            </div> -->
        <i class="bottom-viewVine"><a href="/licorDurazno" class="vine-cta">Ver
            Detalles</a></i>
      </div>
    </div>

    <!-- Licor 3 -->
    <div class="wine-card">
      <div class="wine-img-container">
        <img
          src="/img/licores/licorDeJaboticaba.png"
          alt="Vino Rosado"
          class="wine-img"
        />
      </div>
      <div class="wine-info">
        <!-- <span class="wine-category">Rosado Premium</span> -->
        <h3 class="wine-name">Licor de Jaboticaba</h3>
        <span class="wine-region">Siguatepeque, Honduras</span>
        <p class="wine-description">
          Un licor elegante y afrutado con intensas notas de frutas negras y un
          toque floral.
        </p>
        <!-- <div class="wine-footer">
              <span class="wine-price">€189.00</span>
              <span class="wine-rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </span>
            </div> -->
        <i class="bottom-viewVine"><a
            href="/licorJaboticaba"
            class="vine-cta"
          >Ver Detalles</a></i>
      </div>
    </div>

    <!-- Licor 4 -->
    <div class="wine-card">
      <div class="wine-img-container">
        <img
          src="/img/licores/licorDeNance.png"
          alt="Vino Rosado"
          class="wine-img"
        />
      </div>
      <div class="wine-info">
        <!-- <span class="wine-category">Rosado Premium</span> -->
        <h3 class="wine-name">Licor de Nance</h3>
        <span class="wine-region">Siguatepeque, Honduras</span>
        <p class="wine-description">
          Sabor tropical y dulce, este licor destaca por sus aromas
          característicos de un nance maduro.
        </p>
        <!-- <div class="wine-footer">
              <span class="wine-price">€189.00</span>
              <span class="wine-rating">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
              </span>
            </div> -->
        <i class="bottom-viewVine"><a href="/licorNance" class="vine-cta">Ver
            Detalles</a></i>
      </div>
    </div>

  </div>
</section>

<!-- Sección "Sobre nosotros" -->
<section class="about-section" id="sobre-nosotros">
  <div class="section-header">
    <h2>Nuestra Historia</h2>
  </div>
  <div class="about-content">
    <div class="about-image">
      <img
        src="/img/img.jpeg"
        alt="Hato Mayor - Vinos y Licores Artesanales"
        srcset=""
      />
    </div>

    <div class="about-text">
      <h3>Vino de Honduras Hato Mayor</h3>
      <p>
        Los productores del Vino de Honduras
        <strong>HATO MAYOR</strong>, deciden establecer un huerto frutal, en
        1992, plantan diversos árboles y entre ellos sin conocerlo plantan el
        árbol de jaboticaba, una fruta procedente de Brasil, introducida en
        Honduras por el Dr. Wilson Popenoe, quien por encargo de la United Fruit
        Company, crea el Jardín Botánico de Lancetilla en 1925, y trae la fruta
        de Brasil a California y de ahí a la ciudad de Tela, Honduras en 1926.
      </p>
      <p>
        Una vez establecido el huerto frutal pasan más de 11 años y los árboles
        comienzan a dar sus primeros frutos, agridulce, delicioso, en principio
        la producción era poca y se utilizaba para comer, refrescos y la
        elaboración de mermeladas, pero al transcurrir el tiempo se fue
        incrementando la cosecha hasta un punto que el volumen era tanto que la
        fruta se desaprovechaba por no haber un mercado para la misma, es por
        ello que el Ingeniero Forestal Alexis Sánchez, emprende una
        investigación sobre la fruta, qué diera orientación de qué hacer con tal
        volumen de producción, en su búsqueda encuentran que la jaboticaba
        presentan propiedades excepcionales y beneficiosas para la salud además,
        que Brasil elabora licor de jaboticaba.
      </p>
    </div>
  </div>
  <div class="about-text">
    <p>
      En el año 2011 sin tener ninguna experiencia sobre la elaboración de
      vinos, inician un proceso autodidacta y se convierte en un ferviente
      estudioso del arte y ciencia para elaborar vinos, mismos que compartía con
      amigos y conocidos, quienes quedaban impresionados por su sabor y calidad,
      la reacción de los amigos al disfrutar los vinos lo motivaron a seguir
      adelante, sin embargo es hasta el año 2013 que con la finalidad de
      comercializar sus vinos HATO MAYOR, fundan la Empresa AGROSILVOPASTORIL
      Villa San Pablo (EMAVISAPA, S de R. L).
    </p>
    <p>
      Con tan solo dos años en el mercado deciden enviar sus vinos HATO MAYOR a
      concursar a una de las competencias más importantes a nivel mundial de
      vinos y licores el China Wine & Spirits Awards (CWSA-2015), en la cual los
      tres vinos enviados a concurso fueron premiados, el vino tinto semi-seco
      ʺDon Alejandro” alcanzo medalla de oro, los vinos tinto dulce y el de
      naranja medalla de bronce, tres años después con la marca de licores
      MANGULINA logran medalla de oro en uno de los concursos más importante de
      Alemania ( Frankfurt International Trophy, 2018) y en Francia medalla de
      Plata en el (Concours International DE LYON, 2019), en abril del año 2025
      con el vino Hato Mayor de naranja gana medalla de Plata en el concurso
      mundial (London Tasting Awards, Londres, 2025).
    </p>
  </div>

  <div class="mission-vision">
    <div class="card">
      <h3>Misión</h3>
      <p>Elaborar los mejores vinos y licores artesanales, continuar el proceso
        de perfeccionamiento para producir un producto de excelencia, que
        permita contribuir a fomentar la cultura del vino.</p>
    </div>

    <div class="card">
      <h3>Visión</h3>
      <p>Ser una empresa líder en la elaboración de vinos y licores artesanales
        de alta calidad, generando un ambiente de trabajo óptimo que permita ser
        competitiva y mejorar el nivel de vida de nuestro personal, garantizando
        la satisfacción de nuestros clientes.</p>
    </div>
  </div>

  <div class="awards">
    <h3>Reconocimientos Internacionales</h3>
    <div class="awards-list">
      <div class="award-item">
        <img src="/img/reconocimientos/goldMedal.PNG" alt="Medalla de Oro" />
        <h4>Medalla de Oro</h4>
        <p>CWSA 2015 - Hong Kong - China"</p>
      </div>
      <div class="award-item">
        <img
          src="/img/reconocimientos/bronzeMedal.PNG"
          alt="Medalla de Bronce"
        />
        <h4>Medalla de Bronce</h4>
        <p>CWSA 2015 - Hong Kong - China"</p>
      </div>

      <div class="award-item">
        <img
          src="/img/reconocimientos/frankfurtGold.PNG"
          alt="Medalla de Oro"
        />
        <h4>Medalla de Oro</h4>
        <p>Frankfurt International Trophy 2018</p>
      </div>

      <div class="award-item">
        <img src="/img/reconocimientos/silverLyon.PNG" alt="Medalla de Plata" />
        <h4>Medalla de Plata</h4>
        <p>Concours International DE LYON 2019</p>
      </div>

      <div class="award-item">
        <img
          src="/img/reconocimientos/silverLondon.PNG"
          alt="Medalla de Plata"
        />
        <h4>Medalla de Plata</h4>
        <p>London Tasting Awards 2025</p>
      </div>
    </div>
  </div>

</section>

<!-- Sección de donde encontrarnos -->
<section id="nuestros-vinos">
  <div class="section-header">
    <h2 class="section-title">¿Dónde encontrarnos?</h2>
    <p class="section-subtitle">"Nos tomamos el tiempo para que usted tome un
      buen vino."</p>
  </div>

  <div class="tabs-container">
    <!-- Grid de Contenido -->
    <div class="tab-pane">
      <div class="tab-grid">
        <div class="tab-feature">
          <h4 class="feature-title">Tegucigalpa</h4>
          <p class="feature-text">Delikatessen</p>
          <p class="feature-text">Diprova</p>
          <p class="feature-text">Tienda Licores El Remate Stock-Florencia</p>
          <p class="feature-text">El Remate, Mall Premier</p>
          <p class="feature-text">Estación de Servicios PUMA La Germania</p>
          <p class="feature-text">Estación de Servicios Texaco Mateo</p>
          <p class="feature-text">Estación de Servicios Texaco Guanacaste</p>
          <p class="feature-text">Estación de UNO La Pradera</p>
          <p class="feature-text">Estación de Servicios UNO Reforma</p>
          <p class="feature-text">Supermercados Mas x Menos</p>
          <p class="feature-text">Supermercado YIP</p>
        </div>

        <div class="tab-feature">
          <h4 class="feature-title">Siguatepeque</h4>
          <p class="feature-text">Comedor Suyapa #1</p>
          <p class="feature-text">Comedor Suyapa #2</p>
          <p class="feature-text">Gasolinera Texaco Cruz</p>
          <p class="feature-text">Gasolinera Texaco Valeriano</p>
          <p class="feature-text">Granja D'Elia</p>
          <p class="feature-text">Restaurante Don Tiki</p>
          <p class="feature-text">Restaurante Villa Verde</p>
          <p class="feature-text">Restaurante Los Jaros</p>
          <p class="feature-text">Supermercado Del Corral</p>
        </div>

        <div class="tab-feature">
          <h4 class="feature-title">Lago de Yojoa</h4>
          <p class="feature-text">Centro Turístico La Naturaleza</p>
          <p class="feature-text">Complejo Turístico Lagolandia</p>
          <p class="feature-text">Gasolinera PUMA El Bambú</p>
          <p class="feature-text">Honduyate</p>
          <p class="feature-text">PANACAM Lodge</p>
        </div>

        <div class="tab-feature">
          <h4 class="feature-title">Comayagua</h4>
          <p class="feature-text">Hotel Antigua Comayagua</p>
          <p class="feature-text">Supermercados Del Corral</p>
          <p class="feature-text">Gasolinera Texaco Colonial</p>
        </div>

        <div class="tab-feature">
          <h4 class="feature-title">Guaimaca</h4>
          <p class="feature-text">Estación de Servicios PUMA Galo</p>
          <p class="feature-text">Estación de Servicios Texaco</p>
          <p class="feature-text">Depósito Cristopher</p>
        </div>

        <div class="tab-feature">
          <h4 class="feature-title">San Lorenzo</h4>
          <p class="feature-text">Estación de Servicios PUMA Alto Verde</p>
        </div>

        <div class="tab-feature">
          <h4 class="feature-title">San Pedro Sula</h4>
          <p class="feature-text">Comisariato Los Andes</p>
        </div>

        <div class="tab-feature">
          <h4 class="feature-title">Taulabé</h4>
          <p class="feature-text">TEXACO Taulabé</p>
        </div>

        <div class="tab-feature">
          <h4 class="feature-title">Valle de Ángeles</h4>
          <p class="feature-text">Souvenir La Banana</p>
        </div>
      </div>
    </div>
  </div>
</section>